<!-- Vista de aplicante -->
<div class="container p-4">
    <div class="card text-center">
        <div class="card-body">
            <h1 class="card-title text-uppercase">Aplicante a red MenTe </h1><br>
            <h3 class="ApplicantName">{{Applicant.ApplicantName}} </h3><br>
            <hr />
            <div class="card-table">
                <table class="ApplicantTable">
                    <tr>
                        <th>Cédula: </th>
                        <td>{{Applicant.ApplicantIdentification}}</td>
                    </tr>
                    <tr>
                        <th>Teléfono: </th>
                        <td>{{Applicant.ApplicantPhone}}</td>
                    </tr>
                    <tr>
                        <th>Email: </th>
                        <td>{{Applicant.ApplicantEmail}}</td>
                    </tr>
                    <tr>
                        <th>Fecha de Nacimiento: </th>
                        <td>{{Applicant.ApplicantBirthDate}}</td>
                    </tr>
                    <tr>
                        <th>Edad Exacta: </th>
                        <td>{{Applicant.ApplicantAge}}</td>
                    </tr>
                    <tr>
                        <th>Provincia: </th>
                        <td>{{Applicant.ApplicantProvince}}</td>
                    </tr>
                    <tr>
                        <th>Cantón: </th>
                        <td>{{Applicant.ApplicantCanton}}</td>
                    </tr>
                    <tr>
                        <th>Distrito: </th>
                        <td>{{Applicant.ApplicantDistrict}}</td>
                    </tr>
                    <tr>
                        <th>Ocupación: </th>
                        <td>{{Applicant.ApplicantOcupation}}</td>
                    </tr>
                    <tr>
                        <th>Lugar de Estudio/Trabajo: </th>
                        <td>{{Applicant.ApplicantOcupationPlace}}</td>
                    </tr>
                    <tr>
                        <th>Nivel de Inglés: </th>
                        <td>{{Applicant.ApplicantEnglishLevel}}</td>
                    </tr>
                    <tr>
                        <th>Dispositivos: </th>
                        <td>{{Applicant.ApplicantDevices}}</td>
                    </tr>
                    <tr>
                        <th>Conexión: </th>
                        <td>{{Applicant.ApplicantConnection}}</td>
                    </tr>
                    <tr>
                        <th>Disponibilidad de asistencia: </th>
                        <td>{{Applicant.ApplicantAvailability}}</td>
                    </tr>
                    <tr>
                        <th>Sobre la aspirante: </th>
                        <td>{{Applicant.ApplicantAbout}}</td>
                    </tr>
                    <tr>
                        <th>Carreras que le llaman la atención: </th>
                        <td>{{Applicant.ApplicantAspiration}}</td>
                    </tr>
                    <tr>
                        <th>Intereses y pasatiempos: </th>
                        <td>{{Applicant.ApplicantHobbies}}</td>
                    </tr>
                    <tr>
                        <th>Importancia de la beca: </th>
                        <td>{{Applicant.ApplicantDescription}}</td>
                    </tr>
                    <tr>
                        <th>Expectaciones de aprendizaje: </th>
                        <td>{{Applicant.ApplicantExpectation}}</td>
                    </tr>
                    <tr>
                        <th>Impacto en la sociedad: </th>
                        <td>{{Applicant.ApplicantImpact}}</td>
                    </tr>
                    <tr>
                        <th>Motivos por ser Mujer STEM: </th>
                        <td>{{Applicant.ApplicantWomenInSTEM}}</td>
                    </tr>
                    <tr>
                        <th>Persona discapacitada: </th>
                        <td>{{Applicant.ApplicantCondition}}</td>
                    </tr>
                    <tr>
                        <th>Discapacitadad: </th>
                        <td>{{Applicant.ApplicantConditionName}}</td>
                    </tr>
                    <tr>
                        <th>Asistencia especial: </th>
                        <td>{{Applicant.ApplicantConditionAssistance}}</td>
                    </tr>
                    <tr>
                        <th>Medio de conocimiento del programa: </th>
                        <td>{{Applicant.ApplicantMediaImpact}}</td>
                    </tr>
                    <tr>
                        <th>Ha aplicado anteriormente: </th>
                        <td>{{Applicant.ApplicantTry}}</td>
                    </tr>
                    <tr>
                        <th>Beca Empleate: </th>
                        <td>{{Applicant.ApplicantEmpleateCondition}}</td>
                    </tr>
                    <tr>
                        <th>Tipo de beca Empleate : </th>
                        <td>{{Applicant.ApplicantEmpleateConditionName}}</td>
                    </tr>
                    <tr>
                        <th>Posibilidad de financiar su participación: </th>
                        <td>{{Applicant.ApplicantEconomicStatus}}</td>
                    </tr>
                    <tr>
                        <th>Talla de camisa: </th>
                        <td>{{Applicant.ApplicantTshirt}}</td>
                    </tr>
                    <tr>
                        <th>Permiso participación: </th>
                        <td>{{Applicant.ApplicantPermision}}</td>
                    </tr>
                    <tr>
                        <th>Nombre completo de papá/mamá o encargado/encargada legal: </th>
                        <td>{{Applicant.ApplicantParentName}}</td>
                    </tr>
                    <tr>
                        <th>Numero telefónico de papá/mamá o encargado/encargada legal: </th>
                        <td>{{Applicant.ApplicantParentPhone}}</td>
                    </tr>
                    <tr>
                        <th>Correo electrónico de papá/mamá o encargado/encargada legal: </th>
                        <td>{{Applicant.ApplicantParentEmail}}</td>
                    </tr>
                    <tr>
                        <th>Comentarios: </th>
                        <td>{{Applicant.ApplicantComments}}</td>
                    </tr>
                </table>
                <br>
                <a href="/registry/accept" class="btn btn-secondary">Aceptar</a>
                <a href="/registry/applicant/delete/{{Applicant.id}}" class="btn btn-danger">Eliminar</a>
                
            </div>

        </div>
    </div>
</div>

{{!-- <td><a href="/registry/applicant/#" class="btn btn-primary"
                            id="ViewApplicants">Ver</a></td> --}}